<section class="bg-gray-200">
  <div class="w-11/12 mx-auto py-10">
    <h2 class="flex items-center text-2xl font-bold">Get The <img src="/imgs/freshcart-logo.svg" alt="Logo Img"> App</h2>
    <p class="text-gray-500 text-sm">We Will send You a link ,open it on your phone to download the app</p>
    <form class="flex items-center gap-3 py-2 text-nowrap">
      <input type="text" id="voice-search" class="w-full border border-gray-300 text-gray-600 text-sm rounded-lg focus:border-gray-400 block ps-6 p-2.5" required placeholder="Email..." />
      <button type="submit" class="py-2 px-4 ms-2 text-[15px] font-normal text-white bg-green-600 rounded-lg hover:bg-green-500 transition-all duration-500">
        Share App Link
      </button>
    </form>
    <div class="flex md:justify-between md:flex-row my-4 flex-col items-center py-3 border-b-[1px] border-t-[1px] border-gray-300">
      <div class="flex items-center gap-2 md:justify-between md:flex-row flex-col">
        <p class="text-sm font-medium m-0">Payment partners</p>
        <div class="flex items-center gap-2">
          <img src="/imgs/amazon-pay.png" class="w-[50px]" alt="Amazon Pay">
          <img src="/imgs/American-Express-Color.png" class="w-[50px]" alt="American Express">
          <img src="/imgs/mastercard.webp" class="w-[50px]" alt="Master Card">
          <img src="imgs/paypal.png" class="w-[50px]" alt="Paypal">
        </div>
      </div>
      <div class="flex items-center gap-2 md:justify-between md:flex-row flex-col">
        <h3 class="flex text-sm font-medium items-center">Get Deliveries With <img src="/imgs/freshcart-logo.svg" alt="Logo Img"></h3>
        <div class="flex items-center gap-2">
          <img src="/imgs/get-apple-store.png" class="w-[100px]" alt="">
          <img src="/imgs/get-google-play.png" class="w-[100px]" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
